<section id="utility-companies" class="landing-page-section container-xxl" fadeInOnScroll>
  <h1 class="section-title">Concessionárias</h1>
  <p class="section-description">Trabalhamos em parceria com concessionárias para oferecer soluções inovadoras e eficientes.</p>
  <div class="companies-container">
    <app-grouping-logo [logos]="companyLogos()"></app-grouping-logo>
    <div class="images">
      <img src="assets/images/photos/projects-sample/project2.jpg" alt="project photo 1" style="max-width: 110%; display: block; margin: 0 auto;">
    </div>
  </div>
  <hr class="section-divider" />
</section>
