section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  padding: 20px;
}

.companies-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.images {
  width: 100%;
  max-width: 600px;
}

.text {
  font-size: 1rem;
  font-weight: lighter;
}

@media (min-width: 768px) {
  .companies-container {
    flex-direction: row; // Logo ao lado do texto em desktop
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 0 20px;
  }

  .images {
    flex: 1;
  }

  app-grouping-logo {
    flex: 1;
  }
}
