.companies-container {
  margin: auto;
  padding: 70px ;
  border: solid 0.5px var(--color-gray-mid);
  border-radius: 12px;

  background: #083934;
  background: linear-gradient(173deg, rgba(8, 57, 52, 1) 0%, rgba(4, 28, 26, 1) 5%, rgba(22, 25, 27, 1) 100%);
}

.section-title{
  text-align: start;
}


