#contacts {
  background: #121A1A;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; // Alinha os itens ao início horizontalmente
  align-items: flex-start; // Alinha os itens ao início verticalmente
  padding: 10px; // Reduz o padding

  .footer-title {
    color: #9F9F9F;
    font-size: 18px; // Reduz o tamanho da fonte
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.footer-item {
  padding: 2px 0; // Reduz o padding
  text-align: left;
}

a {
  color: #F5F5F5;
  text-decoration: none;
  display: block;
  &:hover {
    text-decoration: underline;
  }
}
