<footer id="contacts">
  <div class="container-xxl footer-container">
    <div>
      <h3 class="footer-title">Contato</h3>
      <a class="footer-item" href="mailto:contato@areteinfra.com">Email</a>
    </div>
    <div>
      <h3 class="footer-title">Endereço</h3>
      <a href="https://maps.app.goo.gl/ecWawqnNpkRzwC6GA" class="footer-item">Campinas</a>
    </div>
    <div>
      <h3 class="footer-title">Social</h3>
      <a class="footer-item" href="https://www.linkedin.com/company/areteinfra" target="_blank">Linkedin</a>
      <a class="footer-item" href="https://www.instagram.com/arete_infra/" target="_blank">Instagram</a>
    </div>
    <div>
      <button (click)="navigateLogin()" class="btn btn-outline-light">Login</button>
    </div>
  </div>
</footer>
