section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  padding: 20px;
}

.services-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 80px;
}

.images {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.images img {
  max-width: 250px;
  height: auto;
}

.text {
  max-width: 600px;
  font-size: 1rem;
  font-weight: lighter;
}

@media (min-width: 768px) {
  .services-container {
    flex-direction: row;
  }

  .images {
    flex-direction: row;
  }

  .images img {
    max-width: 250px;
  }

  .text {
    font-size: 1rem;
    font-weight: lighter;
  }

}

