<section id="services" class="landing-page-section" fadeInOnScroll>
  <h1 class="section-title">Serviços</h1>
  <div class="services-container">
    <div class="images">
      <div class="image-item">
        <img src="assets/images/photos/people/people1.png" alt="Imagem 1" />
        <div class="caption" style="text-align: center; font-size: 1.2em; margin-top: 1em;">
          <p class="name">Eduardo Lima Ferreira</p>
          <p class="profession" style="margin-top: 0.5em;">Engenheiro Civil</p>
        </div>
      </div>
      <div class="image-item">
        <img src="assets/images/photos/people/people2.png" alt="Imagem 2" />
        <div class="caption" style="text-align: center; font-size: 1.2em; margin-top: 1em;">
          <p class="name">Carlos Oliveira Costa</p>
          <p class="profession" style="margin-top: 0.5em;">Engenheiro Civil</p>
        </div>
      </div>
    </div>
    <div [innerHTML]="servicesText" class="text" style="font-size: 1.2em; margin-top: 2em;">
    </div>
  </div>
  <hr class="section-divider" />
</section>
