.services-container {
  display: flex;
  flex-wrap: wrap;

  .text {
    flex: 1;
    min-width: 300px;
  }

  .images {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    .image-item {
      flex: 0 1 auto;
      display: flex;
      justify-content: center;

      img {
        aspect-ratio: 3/4;
        max-width: 250px;
        width: 100%;
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 768px) {
  .services-container {
    flex-direction: column;
    align-items: center;
  }

  .text,
  .images {
    width: 100%;
  }

  .images {
    flex-direction: column;
    align-items: center;
  }
}
