<section id="customers" class="landing-page-section container-xxl">
  <h1 class="section-title" style="padding-top: 20px">Clientes</h1>
<!--  <p class="section-description">Apoiamos nossos clientes com serviços personalizados e de alta qualidade.</p>-->
  <div class="customers-container">
    <div class="images">
      <img src="assets/images/photos/projects-sample/project1.jpg" alt="project photo 1" style="max-width: 100%; display: block; margin: 0 auto;">
    </div>
    <app-grouping-logo [logos]="customersLogos()"></app-grouping-logo>
  </div>
  <hr class="section-divider" />
</section>
