.customers-container {
  margin: auto;
  padding: 70px ;
  border: solid 0.5px var(--color-gray-mid);
  border-radius: 12px;

  background: #083934;
  background: linear-gradient(173deg, rgba(56, 31, 60, 1) 0%, rgba(29, 16, 31, 1) 5%, rgba(22, 25, 27, 1) 100%);
}

.section-title{
  text-align: start;
}
